body {
  background-image: url("../images/misbehavin.png");
  font-family: cursive;

  font-weight: 300;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  background-color: rgb(65, 55, 55);
  height: 80px;
}

.navbar-brand {
  color: white;
  font-size: 25px;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.container {
  height: 800px;
  background: rgba(23, 20, 20, 0.938);
}

.main-heading {
  color: white;
  font-size: 50px;
}

.main-intro-text {
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.event-type-header {
  color: white;
  font-size: 35px;
  border: 2px dotted white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
