html {
  height: 100vh;
}

body {
  background-image: url("../images/misbehavin.png");
  font-family: "Courier New", Courier, monospace;
  height: 100vh;
  font-weight: 300;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  background: rgba(23, 20, 20, 0.938);
  height: 80px;
  font-family: "Courier New", Courier, monospace;
}

.navbar-brand {
  color: white;
  font-size: 25px;
}
#navbar-logo {
  height: 60px;
}
.nav-link {
  color: white;
  font-size: 20px;
}

.container {
  height: 800px;
  background: rgba(23, 20, 20, 0.938);
  overflow: auto;
}

.main-heading {
  color: white;
  font-size: 50px;
  font-family: cursive;
}

.main-intro-text {
  color: white;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.event-type-header {
  color: white;
  font-size: 30px;
  border: 2px dotted white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 115px;
}

#gallery-button {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  padding: 15px;
  font-weight: 600;
  background-color: antiquewhite;
}

#gallery-button:hover {
  background-color: rgb(203, 203, 41);
  color: antiquewhite;
}

#gallery-button:active {
  color: black;
}

/* Styling for gallery page */
.content-type-header {
  color: white;
  font-size: 35px;
  border: 2px dotted white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.content-video-header {
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

/* Social media page stylings */
.social-media-header {
  color: white;
  font-size: 35px;
  border: 2px dotted white;
  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

/* contact page styling */
.contact-type-container {
  border: 2px dotted white;
}
.contact-type-header {
  color: white;
  font-size: 35px;

  font-family: "Courier New", Courier, monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

/* Band page styling */

.member-headshot:hover {
  opacity: 0.5;
}

.brightness {
  background-color: white;
  display: inline-block;
}
